<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find blueboat)/urdf/thrusters/engine.xacro"/>

  <!-- LEFT -->
  <xacro:engine prefix="left" position="-0.48 -0.30 -0.145" orientation="0 0 0"/>

  <!-- RIGHT -->
  <xacro:engine prefix="right" position="-0.48 0.30 -0.145" orientation="0 0 0"/>

  <gazebo>
    <plugin name="blueboat_usv_thrust" filename="libusv_gazebo_thrust_plugin.so">
      <cmdTimeout>0.5</cmdTimeout>
      <publisherRate>100.0</publisherRate>
      <robotNamespace>${namespace}</robotNamespace>
      <xacro:include filename="$(find blueboat)/urdf/thrusters/blueboat_gazebo_thruster_config.xacro"/>
      <xacro:blueboat_gazebo_thruster_config name="left" />
      <xacro:blueboat_gazebo_thruster_config name="right" />
    </plugin>
  </gazebo>
</robot>

