<?xml version="1.0"?>
<!-- Includes all macros in this package so they don't need to be included individualy -->
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="BlueBoat">
  <!-- Include dynamics macros -->
  <xacro:include filename="$(find blueboat)/urdf/dynamics/blueboat_gazebo_dynamics_plugin.xacro" />

  <!-- Include sensor macros -->
  <xacro:include filename="$(find blueboat)/urdf/components/blueboat_camera.xacro" />
  <xacro:include filename="$(find blueboat)/urdf/components/blueboat_gps.xacro" />
  <xacro:include filename="$(find blueboat)/urdf/components/blueboat_imu.xacro" />
  <xacro:include filename="$(find blueboat)/urdf/components/blueboat_planar_sonar.xacro" />
  <xacro:include filename="$(find blueboat)/urdf/components/blueboat_3d_lidar.xacro" />
  <xacro:include filename="$(find blueboat)/urdf/components/lidar.xacro" />
  <xacro:include filename="$(find blueboat)/urdf/components/blueboat_p3d.xacro" />
  <xacro:include filename="$(find blueboat)/urdf/components/blueboat_pinger.xacro" />

  <!-- Include ball shooter macros -->
  <xacro:include filename="$(find blueboat)/urdf/components/ball_shooter.xacro" />
</robot>
